Binaries/
DerivedDataCache/
Intermediate/
Saved/
Builds/
.tools/
.vs/
__pycache__/
*.pyc
*.sln
*.suo
*.VC.db
*.opensdf
*.log
Art/Exports/*
!Art/Exports/asset_manifest.json
Art/RealisticExports/*.fbx
Art/*.blend1
Art/**/*.blend1
Art/IndustryExports/*.fbx
Art/Nature/Exports/*.fbx
